@media
  only screen and (-webkit-min-device-pixel-ratio: 2.0),
  only screen and (   min--moz-device-pixel-ratio: 2.0),
  only screen and (     -o-min-device-pixel-ratio: 2.0/1),
  only screen and (        min-device-pixel-ratio: 2.0),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2.0dppx){
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */

.image img{
    width: 420px;
    height: 520px;
    margin: 20px 0px 0px 0px;
}
.h1centered{
   left: 20%;
   top: 46%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    font-size: 10px;
}

.image a{
    left: 45%;
    top: 90%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 650px;
}
.abtcnt{
    top: 140%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 140%;
    left: 45%;
}

/* ----------------------------------- */
.headercontent img{
    height: 750px;
}

.cont{
   left: 35%;
   top: 260%; 
}
.cont h1{
    font-size: 27px;
}

.cont h5{
    font-size: 15px;
    margin-bottom: 0px;
}

.cont a{
    top: 145%;
    left: 68%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 75px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 90px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

@media only screen and (min-height: 736px){
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */

.image img{
    width: 420px;
    height: 520px;
    margin: 70px 0px 0px -1px;
}
.h1centered{
   left: 20%;
   top: 48%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    font-size: 10px;
}

.image a{
    left: 45%;
    top: 90%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 730px;
}
.abtcnt{
    top: 140%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 140%;
    left: 45%;
}

/* ----------------------------------- */
.headercontent img{
    height: 750px;
}

.cont{
   left: 35%;
   top: 245%; 
}
.cont h1{
    font-size: 27px;
}

.cont h5{
    font-size: 15px;
    margin-bottom: 0px;
}

.cont a{
    top: 175%;
    left: 68%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 95px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 100px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

@media only screen and (min-height: 780px){
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */

.image img{
    width: 420px;
    height: 520px;
    margin: 70px 0px 0px -1px;
}
.h1centered{
   left: 20%;
   top: 46%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    font-size: 10px;
}

.image a{
    left: 45%;
    top: 80%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 730px;
}
.abtcnt{
    top: 127%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 140%;
    left: 45%;
}

/* ----------------------------------- */
.headercontent img{
    height: 750px;
}

.cont{
   left: 35%;
   top: 235%; 
}
.cont h1{
    font-size: 27px;
}

.cont h5{
    font-size: 15px;
    margin-bottom: 0px;
}

.cont a{
    top: 175%;
    left: 68%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 65px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 80px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

@media only screen and (min-height: 816px){
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */

.image img{
    width: 420px;
    height: 520px;
    margin: 70px 0px 0px -1px;
}
.h1centered{
   left: 20%;
   top: 43%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    font-size: 10px;
}

.image a{
    left: 45%;
    top: 80%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 730px;
}
.abtcnt{
    top: 127%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 140%;
    left: 45%;
}

/* ----------------------------------- */
.headercontent img{
    height: 750px;
}

.cont{
   left: 35%;
   top: 220%; 
}
.cont h1{
    font-size: 27px;
}

.cont h5{
    font-size: 15px;
    margin-bottom: 0px;
}

.cont a{
    top: 175%;
    left: 68%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 96px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 110px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

@media only screen and (min-height: 844px) {
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */
.image img{
    width: 410px;
    height: 520px;
    margin: 0px 0px;
}
.h1centered{
   left: 19%;
   top: 35%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    left: 46%;
    font-size: 10px;
}

.image a{
    top: 72.5%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 730px;
}
.abtcnt{
    top: 110%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 135%;
}

/* ----------------------------------- */
.headercontent img{
    height: 735px;
}

.cont{
   left: 35%;
   top: 215%; 
}
.cont h1{
    font-size: 30px;
}

.cont h5{
    font-size: 15px;
}

.cont a{
    top: 117%;
    left: 70%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 82px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 95px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 20px;
}
}

@media only screen and (min-height: 892px) {
    nav{
        font-size: 19px;
    }
/* ----------------------------------- */
.image{
   margin: 30px 0px 60px 20px;
}

.image img{
    width: 400px;
    height: 520px;
    margin: 70px 0px 0px -1px;
}
.h1centered{
   left: 21%;
   top: 37%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    left: 46%;
    font-size: 10px;
}

.image a{
    top: 72.5%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 682px;
}
.abtcnt{
    top: 110%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 135%;
}

/* ----------------------------------- */
.headercontent img{
    height: 735px;
}

.cont{
   left: 35%;
   top: 195%; 
}
.cont h1{
    font-size: 30px;
}

.cont h5{
    font-size: 15px;
}

.cont a{
    top: 170%;
    left: 70%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 92px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 105px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

/* ----------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px){
    nav{
        font-size: 25px;
    }
/* ----------------------------------- */
    .image img{
        width: 700px;
        height: 520px;
        margin: 40px 0px 0px 40px;
    }
    .h1centered{
        left: 27%;
        top: 30%;
        font-size: 70px;
     }
     .image a{
         top: 60%;
     }
/* ----------------------------------- */
.about img{
    width: 100%;
    height: 660px;
}
.abtcnt{
    top: 95%;
}

.abtcnt h1{
  font-size: 50px;
}

.abtcnt h4{
    font-size: 23px;
}

.abtcnt a{
    top: 125%;
}

/* ----------------------------------- */
.headercontent img{
    height: 710px;
}

.cont{
   left: 34%;
   top: 170%; 
}
 .cont h1{
    font-size: 40px;
}

.cont h5{
    font-size: 22.5px;
    padding: 0px 50px;
}

.cont a{
    top: 125%;
    left: 70%;
}

/* ----------------------------------- */
.work{
    margin-top: 37px;
}

.work h1{
    font-size: 45px;
}
.work p{
    font-size: 24px;
    margin: 10px 0px;
    padding: 0px 20px;
}

.work h3{
    font-size: 35px;
}

#create{
   margin-left: 16%;
}

#create .lottiework{
    margin-left: 26%;
}

.lottiework{
    margin-left: 13%;
    width: 250px;
    height: 250px;
}
/* ----------------------------------- */
.process{
    margin: 80px 0px;
}
.process h1{
    font-size: 45px;
}
.process h2{
    font-size: 32px;
}
.process h6{
    font-size: 15px;
}
.lottie{
    margin-left: 20%;
    height: 190px;
    width: 190px;
}

/* ----------------------------------- */
footer{
    padding: 30px;
}
footer h5{
    font-size: 25px;
}

}

/* ----------------------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1366px){
    nav{
        font-size: 25px;
    }
/* ----------------------------------- */
    .image img{
        width: 100%;
        height: 700px;
        margin: 20px 0px 0px 0px;
    } 
    .h1centered{
        font-size: 90px;
        left: 29.5%;
        top: 30%;
    }
    .image a{
        top: 55%;
    }
/* ----------------------------------- */
.about img{
    width: 100%;
    height: 750px;
}
.abtcnt{
    top: 85%;
}

.abtcnt h1{
  font-size: 60px;
  margin-bottom: 10px;
}

.abtcnt h4{
    font-size: 25px;
}

.abtcnt a{
    top: 130%;
}
/* ----------------------------------- */
.headercontent img{
    height: 750px;
}
.cont{
    top: 145%;
    left: 32.6%;
}
.cont h1{
    font-size: 55px;
}
.cont h5{
    font-size: 25px;
    padding: 0px 100px;
}
.cont a{
    top: 130%;
    left: 70%;
}

/* ----------------------------------- */
.work{
    margin-top: 5.5%;
}

.work h1{
    font-size: 55px;
}

.work h3{
    font-size: 32px;
}

.work p{
    font-size: 25px;
    padding: 0px 20px;
}

.lottiework{
    height: 230px;
    width: 230px;
    margin-left: 9%;
}
/* ----------------------------------- */
.process{
    margin: 52.5px 0px;
}
.process h1{
    font-size: 55px;
}
.process h2{
    font-size: 33px;
}
.process h6{
    font-size: 17px;
}
.lottie{
    height: 190px;
    width: 190px;
    margin-left: 45px;
}

/* ----------------------------------- */
footer{
    padding: 25px;
}
footer h5{
    font-size: 30px;
}
}
