@media screen and (max-device-width: 480px){
    html,body {
        margin:0;
        padding:0;
        overflow-x:hidden;
        }
    
    nav{
        font-size: 20px;
    }
/* ----------------------------------- */
.image{
   margin: 100px 0px;
}

.image img{
    width: 450px;
    height: 500px;
    margin: 0px 0px;
}
.h1centered{
   left: 21%;
   top: 37%;
   font-size: 50px; 
}
.image a, .abtcnt a, .work a, .cont a{
    left: 46%;
    font-size: 10px;
}

.image a{
    top: 72.5%;
}

/* ----------------------------------- */ 
.about img{
    width: 485px;
    height: 682px;
}
.abtcnt{
    top: 110%;
}
.abtcnt h1{
    font-size: 40px
}
.abtcnt h4{
    font-size: 17px;
    margin: 0px 0px ;
}
.abtcnt a{
    top: 135%;
}

/* ----------------------------------- */
.headercontent img{
    height: 735px;
}

.cont{
   left: 35%;
   top: 205%; 
}
.cont h1{
    font-size: 30px;
}

.cont h5{
    font-size: 15px;
}

.cont a{
    top: 100%;
    left: 70%;
}

/* ----------------------------------- */
.work p{
    padding: 0px 50px;
    font-size: 16px;
}

#works h1{
    font-size: 40px;
}

.work h3{
    font-size: 24px;
}

.lottiework{
    margin-left: 92px;
    width: 200px;
    height: 200px;
}

/* ----------------------------------- */
.lottie{
    margin-left: 105px;
}

.process h1{
    font-size: 40px;
}
.process h2{
    font-size: 32px;
}

.process h6{
    font-size: 13px;
}

/* ----------------------------------- */
footer h5{
    font-size: 18px;
}
}

/* ----------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px){
    nav{
        font-size: 25px;
    }
/* ----------------------------------- */
    .image img{
        width: 700px;
        height: 520px;
        margin: 40px 0px 0px 40px;
    }
    .h1centered{
        left: 27%;
        top: 30%;
        font-size: 70px;
     }
     .image a{
         top: 60%;
     }
/* ----------------------------------- */
.about img{
    width: 100%;
    height: 660px;
}
.abtcnt{
    top: 95%;
}

.abtcnt h1{
  font-size: 50px;
}

.abtcnt h4{
    font-size: 23px;
}

.abtcnt a{
    top: 125%;
}

/* ----------------------------------- */
.headercontent img{
    height: 710px;
}

.cont{
   left: 34%;
   top: 170%; 
}
 .cont h1{
    font-size: 40px;
}

.cont h5{
    font-size: 22.5px;
    padding: 0px 50px;
}

.cont a{
    top: 125%;
    left: 70%;
}

/* ----------------------------------- */
.work{
    margin-top: 37px;
}

.work h1{
    font-size: 45px;
}
.work p{
    font-size: 24px;
    margin: 10px 0px;
    padding: 0px 20px;
}

.work h3{
    font-size: 35px;
}

#create{
   margin-left: 16%;
}

#create .lottiework{
    margin-left: 26%;
}

.lottiework{
    margin-left: 13%;
    width: 250px;
    height: 250px;
}
/* ----------------------------------- */
.process{
    margin: 80px 0px;
}
.process h1{
    font-size: 45px;
}
.process h2{
    font-size: 32px;
}
.process h6{
    font-size: 15px;
}
.lottie{
    margin-left: 20%;
    height: 190px;
    width: 190px;
}

/* ----------------------------------- */
footer{
    padding: 30px;
}
footer h5{
    font-size: 25px;
}

}

/* ----------------------------------------------------------------------- */
@media (min-width: 1024px) and (max-width: 1366px){
    nav{
        font-size: 25px;
    }
/* ----------------------------------- */
    .image img{
        width: 100%;
        height: 700px;
        margin: 20px 0px 0px 0px;
    } 
    .h1centered{
        font-size: 90px;
        left: 29.5%;
        top: 30%;
    }
    .image a{
        top: 55%;
    }
/* ----------------------------------- */
.about img{
    width: 100%;
    height: 750px;
}
.abtcnt{
    top: 85%;
}

.abtcnt h1{
  font-size: 60px;
  margin-bottom: 10px;
}

.abtcnt h4{
    font-size: 25px;
}

.abtcnt a{
    top: 130%;
}
/* ----------------------------------- */
.headercontent img{
    height: 750px;
}
.cont{
    top: 145%;
    left: 32.6%;
}
.cont h1{
    font-size: 55px;
}
.cont h5{
    font-size: 25px;
    padding: 0px 100px;
}
.cont a{
    top: 130%;
    left: 70%;
}

/* ----------------------------------- */
.work{
    margin-top: 5.5%;
}

.work h1{
    font-size: 55px;
}

.work h3{
    font-size: 32px;
}

.work p{
    font-size: 25px;
    padding: 0px 20px;
}

.lottiework{
    height: 230px;
    width: 230px;
    margin-left: 9%;
}
/* ----------------------------------- */
.process{
    margin: 52.5px 0px;
}
.process h1{
    font-size: 55px;
}
.process h2{
    font-size: 33px;
}
.process h6{
    font-size: 17px;
}
.lottie{
    height: 190px;
    width: 190px;
    margin-left: 45px;
}

/* ----------------------------------- */
footer{
    padding: 25px;
}
footer h5{
    font-size: 30px;
}
}
